* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /**
     * COLORS
     */
  
    /* background color */
    --bg-purple: hsla(267, 100%, 63%, 1);
    --bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
    --bg-dark-purple: hsla(279, 42%, 9%, 1);
    --bg-oxford-blue: hsla(240, 63%, 13%, 1);
    --bg-oxford-blue-alpha-95: hsla(240, 63%, 13%, 0.95);
    --bg-oxford-blue-alpha-90: hsla(240, 63%, 13%, 0.9);
    --bg-oxford-blue-alpha-80: hsla(240, 63%, 13%, 0.8);
}

body {
    background-color: var(--bg-dark-purple);
    background-image: url("../images/body-bg.jpg");
    background-repeat: repeat;
    color: var(--text-gainsboro);
    font-family: var(--fontFamily-oxanium);
    font-size: var(--fontSize-4);
    font-weight: var(--weight-regular);
    line-height: 1.6;
    overflow-x: hidden;
  }

.title h1{
    padding: 30px;
    text-align: center;
    font-weight: 500px;
    font-size: 50px;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

.frame {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.frame img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px 8px 0 0; /* Rounded corners for the top */
}

h3 {
    margin-top: 10px; /* Space between image and text */
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }
}